.how-it-works {
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  text-align: left;
  margin-top: 50px;
}

.how-it-works h2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.lifestyle-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-style: italic;
}

.gradient-text {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.six-pillars {
  font-weight: bold;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow-x: auto;
  gap: 10px;
}

.tab {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  background: none;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab.active {
  background: linear-gradient(90deg, #404040, #1f1f1f);
  color: white;
  border-color: transparent;
}

.item-slider-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.item-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 0 40px;
}

.left-arrow-left,
.right-arrow-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 24px;
  background-color: #fff;
  border: none;
  z-index: 2;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.left-arrow-left:hover,
.right-arrow-right:hover {
  background-color: #f0f0f0;
}

.left-arrow-left {
  left: 10px;
}

.right-arrow-right {
  right: 10px;
}

.is-disabled-hide {
  visibility: hidden;
}



.how-it-works-card {
  width: 493px;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  opacity: 1;
  box-shadow: 0px 3.39px 26.26px 0px #0000001f;
  background-color: #ffffff;
  position: relative; /* Enable positioning for child elements */
  overflow: hidden; /* Prevent child elements from spilling outside */
}

.card-image {
  width: 493px;
  height: 320px;
  border-radius: 16px 0px 0px 0px;
  object-fit: cover;
  position: relative;
}

.card-metric {
  position: absolute;
  bottom: 10px; /* Position at the bottom-left */
  left: 10px;
  background: #ffffff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Ensure it appears on top of the image */
}

.card-title {
  width: 170px;
  height: 27px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.card-description {
  width: 438px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #555;
  margin-top: 5px;
}
