.image-carousel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.image-strip-up, .image-strip-down {
  width: 247px; /* Fixed width for each strip */
  height: 100%; /* Full height of the carousel */
  overflow: hidden;
  position: absolute;
}

.image-strip-up {
  left: 80px; /* Adjust positioning as required */
  animation: rollUp 10s linear infinite;
}

.image-strip-down {
  right: 80px; /* Adjust positioning as required */
  animation: rollDown 10s linear infinite;
}

.collage-image {
  width: 247px; /* Consistent width */
  height: 354px; /* Consistent height */
  object-fit: cover;
  margin-bottom: 20px; /* Space between images */
  border-radius: 20px; /* Add rounded corners */
}

/* Keyframes for rolling animation */
@keyframes rollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
