.hero-section {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.image-strip-up, .image-strip-down {
  width: 247px; /* Fixed width for the strip */
  height: 100%; /* Full height of the section */
  overflow: hidden;
  position: absolute;
}

.image-strip-up {
  left: 0;
  animation: rollUp 10s linear infinite;
}

.image-strip-down {
  right: 0;
  animation: rollDown 10s linear infinite;
}

.collage-image {
  width: 247px;  /* Fixed width */
  height: 355px; /* Fixed height */
  object-fit: cover;
  margin-bottom: 20px; /* Space between images */
}

/* Keyframes for rolling up animation */
@keyframes rollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Keyframes for rolling down animation */
@keyframes rollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
